$main_font: "Poppins", sans-serif;
$comfort_font:'Comfortaa', cursive;

// Colores ||
$mostaza: #f2cf35;
$darkmostaza: #efe2a9;
$amarillo: #f2e535;
$clearyellow: #F4DF7F;
$darkyellow: #736219;
$darkeryellow: #73693C;
$naranja: #F7B463;
$negro : #000000;
$gris: #DBDBDB;
$blanco: #eeeeee;

// MQ Sizes ||

$phone: 480px;
$tablet: 768px;
$PC: 1140px;
$TV: 1440px;
$MAC: 2560px;
$FOURK: 3840px;